@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');

header {
  position: sticky;
  z-index: 1;
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #7b6d66;
  height: 50px;
}

header h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

header a div {
  padding-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 300px;
  margin-top: 8px;
}

.search-container input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 3px;
  height: 30px;
}

.search-container button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #7A665C;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

nav {
  position: sticky;
  z-index: 1;
  top: 50px;
  left: 0;
  right: 0;
  display: flex;
  /* margin-top: 50px; */
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #7b6d66;
  height: 50px;
  /* width: 100%; */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}

nav ul li {
  margin-right: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown.active .dropdown-menu {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* 본문 스타일 */
section {
  min-height: calc(100% - 120px);
  padding-top: 80px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #7b6d66;
  height: 50px;
  color: #000;
}

.copyright {
  color: whitesmoke;
}

.f-info {
  text-align: center;
  margin-top: 10px;
  font-size: small;
  color: whitesmoke;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #757575;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #000;
}

blockquote {
  font-size: 18px;
  border-color: #000;
  padding: 20px 40px;
  text-align: left;
  color: #777;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='tel'] {
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  outline: none;
  font-weight: 200;
  font-size: 12px;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus,
input[type='tel']:focus {
  box-shadow: none;
  border: 1px solid #000;
}


@media (min-width: 992px){
  .container {
    max-width: 1014px;
  }
}

.container {
    min-width: 720px;
    margin-bottom: 100px;
}
