@charset "UTF-8";
/*=== MEDIA QUERY ===*/
table {
	text-align: center;
	width: 100%;
	border-top: 1px solid lightgray;
}

table th,
table td {
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-bottom: 1px solid lightgray;
}
table td:nth-child(3) {
	text-align: left;
	padding-left: 10px;
}

.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 30px 0;
  }
  .page-header h1 {
    font-weight: 200;
    margin: 0 0 6px 0;
  }
  .page-header .breadcrumb {
    background: transparent;
    padding: 5px;
    margin: 0;
  }
  .page-header .breadcrumb li {
    font-weight: 200;
    font-size: 12px;
  }
  .page-header .breadcrumb li a {
    color: #000;
  }

  /**/

.cart-products{
    height: 100%;
	display: flex;
	flex-direction: column;
	
	flex-wrap: wrap;
	margin-bottom: .5rem;
	padding-top: .75rem;
	width: 100%

}

/* 개별 상품 요소 */
/* .cart-product {
    display: flex;
    align-items: center;
	justify-content: space-around;
    padding: 10px;
	margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
   */
  /* 체크박스 스타일 */
  .checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .checkbox input {
    margin-right: 5px;
  }

  /* 이미지 */
.cart-product-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
  
  
  /* 상품 정보 */
  .cart-product-info {
    flex-grow: 1;
	text-align: center;
  }

  .cart-product-info p {
	margin: 0;
  }
  
  .cart-product-info span {
    display: block;
    font-weight: bold;
  }
  
  /* 상품 수량 */
  .cart-product-count {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
  
  .cart-product-count input[type="number"] {
    width: 40px;
    text-align: center;
  }
  
  .cart-product-count button {
    margin: 0 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.cart-product-price{
	margin: 0 10px;
}

.cart-product-fee{
	margin-right: 5px;
}

.cart-products-container {
	width: 100%;
    margin-right: 10%;
}

.cart-products-header {
	border-bottom: 1px solid #555;
	display: flex;
    justify-content: space-around;
	margin-bottom: .5rem;
	padding-top: .75rem;
	width: 100%
}

.cart-products-header label {
	border-radius: 100%;
	display: inline-block;
	line-height: .5rem
}

.cart-products-header input {
	height: .9rem;
	width: .9rem
}

.cart-products-header .seperator {
	line-height: .8rem
}

.cart-products-header .delete-part {
	cursor: pointer;
	line-height: 1rem
}

.cart-product-item {
	align-items: center;
	display: flex;
	margin-bottom: .5rem;
	padding-bottom: 2rem;
	padding-top: .3rem;
	position: relative
}

.cart-product-item:not(:last-child) {
	border-bottom: 1px solid #ddd
}

.cart-product-item label {
	position: absolute;
	top: .2rem
}

.cart-product-item .delete-button {
	background-color: transparent;
	border: none;
	color: #bdbdbd;
	cursor: pointer;
	font-size: 1rem;
	position: absolute;
	right: -.5rem;
	top: -.1rem
}

.cart-product-item .image {
	cursor: pointer;
	display: inline-block;
	margin-left: 1.2rem
}

.cart-product-item input {
	height: .9rem;
	width: .9rem
}

.cart-product-item .content {
	align-items: center;
	display: flex;
	flex-basis: 12rem;
	flex-direction: column;
	margin-bottom: 0;
	margin-left: 1rem
}

.cart-product-item .content p {
	cursor: pointer;
	font-size: 1.4rem;
	margin-bottom: .5em
}

.cart-product-item .content p:hover {
	opacity: .8
}

.cart-product-item .quantity .button {
	border-color: #aaa;
	font-size: .6rem;
	padding: 1px 9px
}

.cart-product-item .quantity .input {
	height: 1.5rem;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 2.5rem
}

.cart-count {
	display: flex;
	justify-content: center;
	height: 22px;
}

.cart-count input[type=text] {
    width: 28px;
	height: auto;
	border: 1px solid #d4d8d9;
	border-radius: 3px 0 0 3px;
}

.cart-count-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cart-count-button img {
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.calculation {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	margin-left: 2rem;
	padding: 0 .5rem
}

.calculation .icon {
	color: #888
}

.calculation p {
	display: block;
	font-size: 1.4rem
}

.tile-order-summary {
	height: 100%;
	position: sticky;
	top: .5rem
}

.order-summary {
	padding-top: 10px;
	width: 100%;
	font-size: 1.4rem;

	border-top: 1px solid lightgray;
}

.order-summary .total, .order-summary .order-info {
	width: 50%;
}

.order-summary, .order-info  {
	display: flex;
}

.order-info .info {
	display: flex;
    font-size: 1.1rem;
    width: 50%;
    padding-right: 10px;
    justify-content: space-between;
}

.info:last-child {
	border-left: 1px solid #E2E2E2;
	padding-left: 10px;
}

.total {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;

	border-left: 1px solid #E2E2E2;
}

.total p {
	margin-left: 10px;
	display: block
}

.total .total-label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: .5rem
}

.total .total-payment {
	font-size: 2rem;
	font-weight: 700
}

.purchase {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.purchase button {
	font-size: 1.4rem;
	font-weight: 700;
	height: 4rem;
	width: 100%
}

#order-all-btn {
	color: white;
	background-color: black;
	border: 1px solid black;
}

#order-selected-btn {
	color: black;
	background-color: #E2E2E2;
	border: 1px solid gray;
}

#remove-selected-btn button {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid gray;
	font-size: 14px;
}


.product-checkbox{
    padding: 10px;
}

.product-item{
    display: flex;
    align-items: start;
}



@media only screen and (max-width: 500px) {
	.cart-product-item {
		flex-direction:column
	}

	.cart-product-item label {
		left: 0
	}

	.cart-product-item .image {
		height: 150px;
		margin-top: 1rem;
		width: 150px
	}

	.cart-product-item .content {
		flex-basis: 2rem;
		margin-top: 2rem
	}

	.cart-product-item .content p {
		margin-top: .5rem
	}

	.calculation {
		margin-left: 0;
		margin-top: 1rem;
		width: 100%
	}
}