p {
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-size: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.btn-transparent {
    background: transparent;
    padding: 0;
    color: #000;
}

/* Dashboard wrapper */
.block {
    padding: 15px;
    margin-bottom: 10px;
}

.page-wrapper {
    padding: 70px 0;
}

.widget-title {
    font-weight: 400;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.status, .total-price {
    font-weight: bold;
}

.btn:disabled, .btn:disabled:hover {
    background-color: #cccccc;
}

table {
	text-align: center;
	width: 100%;
	border-top: 1px solid lightgray;
}

.table tbody tr td:first-child img {
    width: 80px;
    height: 80px;
}

table th,
table td {
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-bottom: 1px solid lightgray;
}

table, tr, th, td {
    text-align: center;
}

.table tbody tr td {
    vertical-align: middle;
}

.product-info {
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}