 @charset "UTF-8";
 /*------------------------------------------------------------------
 [Table of contents]
 
 1. Body
   2. Header 
     2.1. Navigation 
     2.2. Menu 
     2.3. Cart 
   3. Banner
     3.1 Revolution Slider
   4. Products
     4.1 Product Item
     4.2 Single Product
   5. Pricing
   6. Clients
   7. Instagram Feed 
   8. User Dashboard
     8.1 User Profile
   9. Blog
     9.1 Post
     9.2 Post Pagination
     9.3 Single Post
     9.4 Post Sidebar
   10. Backgrounds
   11. Comming Soon
   12. Account Page
   13. Shopping
     13.1 Checkout
     13.2 Shopping Cart
     13.3 Product Checkout Details
     13.4 Purchase Confirmation
     13.5 Empty Cart
     13.6 Success Message
   14.404 Page
   15. Contact 
     15.1  Contact Form 
     15.2 Contact Details
     15.3 Social Icons
   16.Footer
 
 
 -------------------------------------------------------------------*/


 .page-header {
  background: #f5f5f5;
  margin-top: 20px;
  border-bottom: none;
  padding: 30px 0;
}
.page-header h1 {
  font-weight: 200;
  margin: 0 0 6px 0;
}
.page-header .breadcrumb {
  background: transparent;
  padding: 5px;
  margin: 0;
}
.page-header .breadcrumb li {
  font-weight: 200;
  font-size: 12px;
}
.page-header .breadcrumb li a {
  color: #000;
}
 
 .product-item {
   margin-bottom: 30px;
 }
 .product-item .product-thumb {
   position: relative;
 }
 .product-item .product-thumb img {
   width: 100%;
   height: auto;
 }
 .product-item .product-thumb .bage {
   position: absolute;
   top: 12px;
   right: 12px;
   background: #000;
   color: #fff;
   font-size: 12px;
   padding: 4px 12px;
   font-weight: 300;
   display: inline-block;
 }
 /* .product-item .product-thumb:before {
   transition: 0.3s all;
   opacity: 0;
   background: rgba(0, 0, 0, 0.6);
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
 } */
 .product-item .product-thumb .preview-meta {
   position: absolute;
   text-align: center;
   bottom: 0;
   left: 0;
   width: 100%;
   justify-content: center;
   opacity: 0;
   transition: 0.2s;
   transform: translateY(10px);
 }
 .product-item .product-thumb .preview-meta li {
   display: inline-block;
 }
 .product-item .product-thumb .preview-meta li a, .product-item .product-thumb .preview-meta li span {
   background: #fff;
   padding: 10px 0px;
   cursor: pointer;
   display: inline-block;
   font-size: 20px;
   transition: 0.2s all;
   width: 50px;
 }
 .product-item .product-thumb .preview-meta li a:hover, .product-item .product-thumb .preview-meta li span:hover {
   background: #c1c1c1;
   color: #fff;
 }
 .product-item:hover .product-thumb:before {
   opacity: 1;
 }
 .product-item:hover .preview-meta {
   opacity: 1;
   transform: translateY(-20px);
 }
 .product-item .product-content {
   text-align: center;
 }
 .product-item .product-content h4 {
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
   margin-bottom: 6px;
 }
 .product-item .product-content h4 a {
   color: #000;
 }
 
 .product-modal {
   background: rgba(255, 255, 255, 0.9);
   text-align: center;
   padding: 0 !important;
 }
 .product-modal:before {
   content: "";
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -4px;
 }
 .product-modal.fade .modal-dialog {
   transform: translate(0, 0);
 }
 .product-modal .close {
   width: 50px;
   float: none;
   position: absolute;
   right: 20px;
   z-index: 9;
   top: 20px;
   font-size: 30px;
   outline: none;
 }
 .product-modal .modal-dialog {
   width: 900px;
   display: inline-block;
   text-align: left;
   vertical-align: middle;
 }
 @media (max-width: 480px) {
   .product-modal .modal-dialog {
     width: 100%;
   }
 }
 @media (max-width: 768px) {
   .product-modal .modal-dialog {
     width: 100%;
   }
 }
 .product-modal .modal-content {
   border-radius: 0;
   box-shadow: none;
   border: none;
 }
 .product-modal .modal-content .modal-body {
   padding: 30px;
 }
 .product-modal .modal-content .modal-body .modal-image img {
   width: 100%;
   height: auto;
 }
 .product-modal .modal-content .modal-body .product-short-details h2 {
   margin-top: 0;
   font-size: 22px;
   font-weight: 400;
 }
 .product-modal .modal-content .modal-body .product-short-details h2 a {
   color: #000;
 }
 @media (max-width: 480px) {
   .product-modal .modal-content .modal-body .product-short-details h2 {
     margin-top: 15px;
   }
 }
 @media (max-width: 768px) {
   .product-modal .modal-content .modal-body .product-short-details h2 {
     margin-top: 15px;
   }
 }
 .product-modal .modal-content .modal-body .product-short-details .product-price {
   font-size: 30px;
   margin: 20px 0;
 }
 @media (max-width: 480px) {
   .product-modal .modal-content .modal-body .product-short-details .product-price {
     margin: 10px 0;
   }
 }
 .product-modal .modal-content .modal-body .product-short-details .btn-main, .product-modal .modal-content .modal-body .product-short-details .btn-solid-border, .product-modal .modal-content .modal-body .product-short-details .btn-transparent, .product-modal .modal-content .modal-body .product-short-details .btn-small {
   margin-top: 20px;
 }
 .product-modal .modal-content .modal-body .product-short-details .btn-transparent {
   color: #444;
   border-bottom: 1px solid #dedede;
 }

 