/* Common */

body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
}
  
p {
    font-family: "Poppins", sans-serif;
    color: #757575;
    font-size: 15px;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
  
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
iframe {
    border: 0;
}
  
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #000;
}
  
blockquote {
    font-size: 18px;
    border-color: #000;
    padding: 20px 40px;
    text-align: left;
    color: #777;
}

.mt-20 {
    margin-top: 20px;
}

.btn-transparent {
    background: transparent;
    padding: 0;
    color: #000;
}

.section {
    padding: 80px 0;
}

/* Page Header */

.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 30px 0;
}

.page-header h1 {
    font-weight: 200;
    margin: 0 0 6px 0;
}

.page-header .breadcrumb {
    background: transparent;
    padding: 5px;
    margin: 0;
}

.page-header .breadcrumb li {
    font-weight: 200;
    font-size: 12px;
}

.page-header .breadcrumb li a {
    color: #000;
}


/* Dashboard */

.dashboard-menu .active {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.dashboard-menu li {
    padding: 0;
    margin: 0 3px;
}

.dashboard-menu li a {
    padding: 10px 20px;
    border: 1px solid #dedede;
    display: inline-block;
}

@media (max-width: 768px) {
    .dashboard-menu li a {
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .dashboard-menu li a {
        padding: 10px 5px;
    }
}

@media (max-width: 400px) {
    .dashboard-menu li a {
        padding: 10px 8px;
        font-size: 12px;
        margin-bottom: 6px;
    }
}
  
.dashboard-wrapper {
    border: 1px solid #dedede;
    margin-top: 30px;
    padding: 20px;
}

.dashboard-wrapper h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.dashboard-wrapper h4 {
    font-size: 16px;
}

.dashboard-wrapper .user-img {
    width: 120px;
    border-radius: 100px;
}
  
.dashboard-user-profile .user-img {
    width: 180px;
}

.dashboard-user-profile .user-profile-list {
    margin-top: 30px;
    padding-left: 30px;
}

.dashboard-user-profile .user-profile-list li {
    margin-bottom: 8px;
}

.dashboard-user-profile .user-profile-list span {
    font-weight: bold;
    margin-right: 5px;
    width: 100px;
    display: inline-block;
}

/* Buttons */

.btn-small {
    padding: 8px 25px;
    font-size: 10px;
}

.btn-main, .btn-small, .btn-solid-border {
    background: #000;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 0;
}