<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="../../common/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="../../common/common.css">
    <link rel="stylesheet" href="./mypage-list.css">
</head>
<body>
    <!-- Header -->
    <!-- Nav -->
    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">MY PAGE</h1>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">MY PAGE</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-dashboard page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- 기본 정보 -->
                    <h3>기본 정보</h3>
                    <div class="dashboard-wrapper dashboard-user-profile">
                        <div class="media">
                            <div class="pull-left text-center" href="#!">
                                <!-- 이미지 파일은 추후 삭제 예정  -->
                                <img class="media-object user-img" src="../img/avater.jpg" alt="Image">
                            </div>
                            <div class="media-body">
                                <ul class="user-profile-list">
                                    <li><span>이름:</span>Johanna Doe</li>
                                    <li><span>Email:</span>mail@gmail.com</li>
                                    <li><span>주소:</span>서울특별시</li>
                                    <li><span>포인트:</span>0</li>
                                    <li><span>등급:</span>일반</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <div>
                            <a href="../order/mypage-order.html" class="btn btn-main btn-small">주문 내역</a>
                            <a href="../edit/mypage-edit.html" class="btn btn-main btn-small">회원 정보</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
</body>
</html>