<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elice Coffee | 404</title>

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="/styles/common/bootstrap.min.css">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/styles/common/common.css">
  <link rel="stylesheet" type="text/css" href="/styles/404.css">

  <!-- favicon -->
  <link rel="icon" href="favicon.ico">
  
  <!-- script -->


</head>

<body>
  <section class="page-404">
    <div class="container-404">
      <div class="row">
        <div class="col-md-12">
          <a href="/">
            Elice Coffee
          </a>
          <h1>404</h1>
          <h2>Page Not Found</h2>
          <a href="/" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
          <p class="copyright-text">© 2023 all right reserved</p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>