<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice Coffee</title>
    
    <!-- plugins -->
    <link rel="stylesheet" href="/styles/common/bootstrap.min.css">

    <!-- css -->
    <link rel="stylesheet" href="/styles/common/common.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/product-list.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@9/swiper-bundle.min.css" />
    
    <!-- favicon -->
    <link rel="icon" href="favicon.ico">

    <!-- script -->
    <script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
    <script defer src="/js/home.js" type="module"></script>
    
</head>
<body>
    
</body>

</html>