<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice Coffee</title>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/styles/common/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/styles/common/common.css">
    <link rel="stylesheet" href="/styles/order-list.css">

    <!-- favicon -->
    <link rel="icon" href="favicon.ico">
    
    <script type="module" src="/js/order-list.js" defer></script>
</head>
<body>
</body>
</html>