<!DOCTYPE html>
<html lang="ko">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elice Coffee</title>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/styles/common/bootstrap.min.css">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/styles/common/common.css">
    <link rel="stylesheet" type="text/css" href="/styles/pay-complete.css">

    <!-- favicon -->
    <link rel="icon" href="favicon.ico">

    <!-- js -->
    <script type="module" src="/js/pay-complete.js"></script>
</head>

<body>
    
</body>

</html>