<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elice coffee</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" type="text/css" href="/styles/common/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/styles/common/common.css">
    <link rel="stylesheet" type="text/css" href="/styles/pay-complete.css">
    <script type="module" src="/js/pay-complete.js" defer></script>
</head>
<body>
    
</body>
</html>