 @charset "UTF-8";
 /*------------------------------------------------------------------
 [Table of contents]
 
 1. Body
     2. Header 
         2.1. Navigation 
         2.2. Menu 
         2.3. Cart 
     3. Banner
         3.1 Revolution Slider
     4. Products
         4.1 Product Item
         4.2 Single Product
     5. Pricing
     6. Clients
     7. Instagram Feed 
     8. User Dashboard
         8.1 User Profile
     9. Blog
         9.1 Post
         9.2 Post Pagination
         9.3 Single Post
         9.4 Post Sidebar
     10. Backgrounds
     11. Comming Soon
     12. Account Page
     13. Shopping
         13.1 Checkout
         13.2 Shopping Cart
         13.3 Product Checkout Details
         13.4 Purchase Confirmation
         13.5 Empty Cart
         13.6 Success Message
     14.404 Page
     15. Contact 
         15.1  Contact Form 
         15.2 Contact Details
         15.3 Social Icons
     16.Footer
 
 
 -------------------------------------------------------------------*/
 /*=== MEDIA QUERY ===*/

 .form-flex {
  display: flex;
 }

 .form-control {
   box-shadow: none;
   border-radius: 0;
 }
 .form-control:focus {
   box-shadow: none;
   border: 1px solid #000;
 }
 
 .btn-main, .btn-small, .btn-transparent, .btn-solid-border {
   background: #A88C7E;
   color: #fff;
   display: inline-block;
   font-size: 11px;
   letter-spacing: 1px;
   padding: 14px 35px;
   text-transform: uppercase;
   font-weight: 200;
   border-radius: 0;
 }
 .btn-main.btn-icon i, .btn-icon.btn-small i, .btn-icon.btn-transparent i, .btn-icon.btn-solid-border i {
   font-size: 16px;
   vertical-align: middle;
   margin-right: 5px;
 }
 .btn-main:hover, .btn-small:hover, .btn-transparent:hover, .btn-solid-border:hover {
   background: #7A665C;
   color: #fff;
 }
 
 .btn-solid-border {
   border: 1px solid #000;
   background: #fff;
   color: #000;
 }
 
 .btn-transparent {
   background: transparent;
   padding: 0;
   color: #000;
 }
 .btn-transparent:hover {
   background: transparent;
   color: #000;
 }
 
 .btn-large {
   padding: 20px 45px;
 }
 .btn-large.btn-icon i {
   font-size: 16px;
   vertical-align: middle;
   margin-right: 5px;
 }
 
 .btn-small {
   padding: 8px 25px;
   font-size: 10px;
 }
 
 .btn-round {
   border-radius: 4px;
 }
 
 .btn-round-full {
   border-radius: 50px;
 }
 
 .btn.active:focus, .btn:active:focus, .btn:focus {
   outline: 0;
 }
 
 .mt-20 {
   margin-top: 20px;
 }

 .bootstrap-touchspin .input-group-btn-vertical {
   position: relative;
   white-space: nowrap;
   width: 1%;
   vertical-align: middle;
   display: table-cell;
 }
 
 .bootstrap-touchspin .input-group-btn-vertical > .btn {
   display: block;
   float: none;
   width: 100%;
   max-width: 100%;
   padding: 8px 10px;
   margin-left: -1px;
   position: relative;
 }
 
 .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
   border-radius: 0;
   border-top-right-radius: 4px;
 }
 
 .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
   margin-top: -2px;
   border-radius: 0;
   border-bottom-right-radius: 4px;
 }
 
 .bootstrap-touchspin .input-group-btn-vertical i {
   position: absolute;
   top: 3px;
   left: 5px;
   font-size: 9px;
   font-weight: normal;
 }


 
 .account .block {
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 30px;
   margin: 100px 0;
 }
 .account .block .logo {
   display: inline-block;
 }
 .account .block a {
   color: #000;
 }
 .account .block h2 {
   font-weight: 400;
   font-size: 25px;
   text-transform: uppercase;
   margin-top: 40px;
 }
 .account .block form {
   margin-top: 40px;
 }
 @media (max-width: 400px) {
   .account .block form .btn-main, .account .block form .btn-solid-border, .account .block form .btn-transparent, .account .block form .btn-small {
     padding: 14px 19px;
   }
 }
 .account .block form p {
   margin-bottom: 20px;
 }
 .account .block form input[type=email], .account .block form input[type=password], .account .block form input[type=text] {
   border-radius: 0;
   box-shadow: none;
 }
 
