<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="../common/bootstrap.min.css">
    <!--header-->
    
    <script>
    
        import { makeTemplate } from '../components/header.js';

        const section = document.querySelector('#header');
        
        makeTemplate(section);
    </script>
    <!-- 커스텀 css, js -->
    
    <link rel="stylesheet" href="../common/common.css">
</head>
<body>
    <section id="header">

    </section>
    <h1>home page</h1>
</body>
</html>