<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="../common/bootstrap.min.css">
    <!--template.js header,footer,nav-->
    <script src="./home.js" type="module" defer></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../common/common.css">
</head>

<body>
    <section>

    </section>
    <h1>home page</h1>
</body>

</html>